@model DotNetCore.WebAppMVC.Models.ProductsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault()!.Percent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent)
            </td>
            <td>
                @Html.ActionLink("Edit", "", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
