@page
@model DotNetCore.WebAppRazorPages.Pages.ProductsModel


@{
    ViewData["Title"] = "Products List";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@nameof(Product.Id)</th>
            <th scope="col">@nameof(Product.Name)</th>
            <th scope="col">@nameof(Product.Description)</th>
            <th scope="col">@nameof(Product.Url)</th>
            <th scope="col">@nameof(Product.ImageUrl)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Url</td>
                <td>@product.ImageUrl</td>
            </tr>
        }
    </tbody>
</table>



