@model EmployeesViewModel;


<div class="row align-items-center">
    <div class="col-auto me-auto">
        <h1>Employees List</h1>
    </div>
    <div class="col-auto align-bottom">
        <a asp-action="CreateEmployee" class="btn btn-primary">Create</a>
    </div>
</div>





<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(c=>c.Employee.Name)</th>
                <th scope="col">@Html.DisplayNameFor(c=>c.Employee.Email)</th>
                <th scope="col">@Html.DisplayNameFor(c=>c.Employee.Department.Name)</th>
                <th scope="col">@Html.DisplayNameFor(c=>c.Employee.IsActive)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Employees.Any())
            {
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Id.ToString().Split('-')[0]</td>
                        <td>@employee.Name</td>
                        <td>@employee.Email</td>
                        <td>@employee.Department.Name</td>
                        <td>
                            <input type="checkbox" checked="@employee.IsActive" onclick="return false" />
                        </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="EditEmployee" asp-route-id="@employee.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteEmployee" asp-route-id="@employee.Id" onclick="return confirm('Are you sure to Delete ?')">Delete</a>
                        </td>
                        
                    </tr>
                }
            }


        </tbody>
    </table>
</div>