@using DotNetCore.WebAppMVC.Controllers
@model EmployeesViewModel;


<div class="row align-items-center">
    
    <div class="col-auto">
        <h1>Employees List</h1>
    </div>

    <div class="col-8">
        <form method="get" asp-action="Search" asp-route-field="Name">
            <div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search By Name" name="by">
                    <button class="btn btn-outline-secondary input-group-append" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-auto align-bottom">
        <a asp-action="CreateEmployee" class="btn btn-primary">Create</a>
    </div>

</div>





<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    <a asp-action="Sort" asp-route-field="@nameof(Model.Employee.Id)" asp-route-direction="@ViewBag.SortDirection">#</a>
                </th>
                <th scope="col">
                    <a asp-action="Sort" asp-route-field="@nameof(Model.Employee.Name)" asp-route-direction="@ViewBag.SortDirection">
                        @Html.DisplayNameFor(c => c.Employee.Name)
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="Sort" asp-route-field="@nameof(Model.Employee.Email)" asp-route-direction="@ViewBag.SortDirection">
                        @Html.DisplayNameFor(c => c.Employee.Email)
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="Sort" asp-route-field="Department" asp-route-direction="@ViewBag.SortDirection">
                        @Html.DisplayNameFor(c => c.Employee.Department.Name)
                    </a>
                    
                </th>
                <th scope="col">@Html.DisplayNameFor(c=>c.Employee.IsActive)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Employees.Any())
            {
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.Id.ToString().Split('-')[0]</td>
                        <td>@employee.Name</td>
                        <td>@employee.Email</td>
                        <td>@employee.Department.Name</td>
                        <td>
                            <input type="checkbox" checked="@employee.IsActive" onclick="return false" />
                        </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="EditEmployee" asp-route-id="@employee.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteEmployee" asp-route-id="@employee.Id" onclick="return confirm('Are you sure to Delete ?')">Delete</a>
                        </td>
                        
                    </tr>
                }
            }


        </tbody>
    </table>
</div>